#basic{
    display: grid;
    grid-template-columns: repeat(4,22%);
    gap: 3%;
    margin-top: 5%;
}
#basic>div{
     /*  border: 1px solid yellow;*/
       width: 100%;
      
}
#basic>div>img{
   border: 1px solid lavender;
   width: 100%;
   height: 300px;
   border-radius: 5px;
}
#basic>div>img+h3{
    font-size: .875rem;
    color: #005699;
    font-family: TradeGothicLTW05-BoldObl,Arial,sans-serif;
    line-height: 1;
    text-align: center;
    width: 100%;

}

#basic>div>img+h3+h4{
  color: gray;  
text-align: center;
   
}
#basic>div>img+h3+h4+h5{
    text-align: center;
    margin-top: -2%;
}
#basic>div>img+h3+h4+h5+h5{
    text-align: center;
    margin-top: -2%;
    color: red;
}
#basic>div>img+h3+h4+h5+h5+button{
    background-color:gray;
    color:white;
    margin-left: 20%;
    width: 70%;
    border: 0px;
    height: 30px;
    border-radius: 3px;
}   