@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

#container {
    width: 80%;
    margin: auto;
}

#main_topImg {
    width: 100%;
}

/* =======slider======== */
.p-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
}

.product-slider-heading {
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    margin: 0px;
    margin-bottom: 20px;
}

.product-box {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin: 0px 20px;
    /* height: 300px; */
    overflow: hidden;
    background-color: #fff;
}

.card-container {
    /* border: 1PX solid red; */
    width: 300px;
    margin: 5px;
    overflow: hidden;

}

.card-container {
    text-align: center;
    justify-content: center;
}

.card-headline {
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 10px;
}

.p-text {
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    color: #313131;
    width: 87%;
}

.card_price {
    font-size: 18px;
    margin-bottom: 10px;
    color: #313131;
    font-weight: 700;
}

.card-btn {
    width: 80%;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    background: #313131;
    color: white;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    letter-spacing: 2px;
}

.card-btn:hover {
    background-color: rgb(238, 238, 238);
    color: #313131;
    border: none;
}

#home_midImg_div
{
    width: 100%;
}
#home_midImg 
{
    width: 100%;
}

/* SHOP BY CATEGORY */

#category_container
{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
#category_headline
{
    text-align: center;
    font-size: 22px;
}
#category_card_section
{
    display: flex;
    margin: auto;
}
.category_card
{
    width: 15%;
    margin: auto;

}
.category_card > img
{
    width: 100%;
    margin-bottom: 5px;
}
.category_card > a
{
    text-decoration: 0.5px underline;
    color: #313131;
    font-weight: 500;
    font-size: 14px;
}
.category_card > a:hover
{
    text-decoration: none;
}
#home_midSection
{
    width: 100%;
    margin-top: 30px;
    /* border: 1px solid red; */
}
.midSec_Div
{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    text-align: center;
    
}
.midSec_innerDiv > img
{
    width: 100%;
}
.midSec_innerDiv > p
{
    margin-top: 10px;
    color: gray;
}
.midSec_innerDiv > a
{
    color: black;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 500;
}
.midSec_innerDiv > a:hover
{
    text-decoration: none;
}
#gift_listImg
{
    width: 100%;
}
#gift_container
{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.gift_btn
{
    background: #313131;
    margin: auto;
    margin: 20px 10px;
    padding: 8px 12px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase
}
.gift_btn:hover
{
    background-color: #f2f2f2;
    color: #313131;
}
#more_good
{
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#more_good_headline > p
{
    font-size: 24px;
    font-weight: 600;
}
#more_good_card
{
    display: flex;
    margin: auto;
}
.stiker_card
{
    width: 15%;
    margin: auto;
}
.stiker_card>img
{
    width: 100%;
}
.stiker_card>a
{
    font-size: 14px;
    color: #313131;
    font-weight: 600;
    text-decoration: underline;
}
.stiker_card>a:hover
{
    text-decoration: none;
}


#last_slider
{
    /* border: 1px solid red; */
    text-align: center;
    margin: auto;
}
#social
{
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    font-size: 25px;
}
#social>span
{
    display: flex;;
}
.swap
{
    width: 100%;
    gap: 10px;
}
.lastSec
{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
}
.lastSec>h2
{
    font-weight: 300;
    font-size: 29px;
}
.lastSec>p
{
    color:grey;
}